@import "variables.scss";

// .wrapAbsolute {
//     position: absolute;
//     top: calc(50% - (#{$loginWarningiconSize} / 2));
//     right: 10px;

// }

.wrapRelative {
    height: $loginWarningiconSize;
    width: $loginWarningiconSize;
    position: relative;

    &:hover {
        .popupWrap {
            opacity: 1;
            visibility: visible;
        }
    }
}

.icon {
    fill: red;
    width: $loginWarningiconSize;
    height: $loginWarningiconSize;
}

.popupWrap {
    position: absolute;
    top: calc(#{$loginWarningiconSize} + 5px);
    right: -9px;
    opacity: 0;
    visibility: hidden;
}

.popup {
    position: relative;
    z-index: 5;
    width: 250px;
    background-color: #fff;
    padding: 8px 12px;
    border: 1px solid rgba($color: $greyColor, $alpha: 0.2);
    box-shadow: 0 8px 12px 0 rgba($color: $greyColor, $alpha: 0.2);
    border-radius: 4px;
}

.text {
    font-weight: 500;
    color: $greyColor;
}
