@import "variables.scss";

.wrap {
    margin-top: 15px;
}

.header {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 15px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.info {
    display: grid;
    grid-auto-flow: row;
    align-content: center;
}

.author{
    font-size: 15px;
    font-weight: 600;
    color: $darkBlueColor;
}

.date{
    font-size: 14px;
    color: rgb(136, 136, 136);
}

.content{
    padding: 10px 0px;
}

.content_text{
    display: block;
    overflow-wrap: break-word;
}