@import "variables.scss";

$itemHeight: 30px;
$itemWidth: 100px;

.wrap {
    &_dark {
        .selector {
            color: $azureColor;

            &_active {
                background-color: $greyColor035;
                box-shadow: none;
                border: 1px solid $greyColor;
                border-bottom: none;
            }
        }

        .dropdown {
            left: -1px;
            top: calc(#{$itemHeight} - 1px);
            background-color: $darkBGColor;
            box-shadow: none;
            border: 1px solid $greyColor;
            border-top: none;

            &_item:hover {
                background-color: $greyColor035;
            }
        }
    }
}

.selector {
    position: relative;
    justify-self: flex-end;
    cursor: pointer;
    color: $darkBlueColor;
    height: $itemHeight;
    width: $itemWidth;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px 2px 0px 0px;

    &_active {
        background-color: $greyColor01;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.22);
        z-index: 5;

        .dropdown {
            opacity: 1;
            visibility: visible;
            border-radius: 0px 0px 2px 2px;
        }
    }
}

.dropdown {
    position: absolute;
    z-index: 5;
    top: $itemHeight;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    width: $itemWidth;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.22);

    &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $itemHeight;
        padding: 0px 8px;

        &:hover {
            background-color: $greyColor01;
        }
    }
}
