@import "variables.scss";

.wrap {
    min-width: 250px;
    background-color: #fff;
    padding: 10px 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid $lightGreyColor;
}

.item {
    height: 34px;
    user-select: none;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;

    &_active {
        cursor: pointer;

        &:hover {
            background-color: $greyColor01;
        }
    }

    &__title {
        margin-right: 10px;
    }
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    fill: $darkBlueColor;

    &_theme {
        height: 21px;
        width: 21px;
    }

    &_language {
        stroke: $darkBlueColor;
        fill: #fff;
    }

    &_logout {
        margin-left: -3px;
        margin-right: 13px;
    }
}
