@import "variables.scss";

.preloaderWrap {
    margin: 30% auto;
    height: 100px;
    width: 100px;
}

.columns_wrap{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-column-gap: $blocksMargin;
}

.column_side {
}

.column_main {
    width: $centerAreaWidth;
}
