@import "variables.scss";

.preloaderWrap {
    margin: 30% auto;
    height: 100px;
    width: 100px;
}

.columns_wrap {
    display: grid;
    grid-template-columns: $sideAreaWidth 1fr;
    grid-column-gap: $blocksMargin;
}

.column_side {
}

.wrap_side {
    margin-bottom: $blocksMargin;
}

.column_main {
    width: $centerAreaWidth;
}

.editModeButton {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: $lightBlueColor01;
    color: $greyBlueColor08;

    &:hover {
        background-color: $lightBlueColor02
    }
}
