@import "variables.scss";

.wrap {
    width: $centerAreaWidth;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid $greyColor02;

    &_dark {
        border-bottom: 1px solid $greyColor;

        .innerWrap {
            border-bottom: 1px solid $greyColor;
        }

        .title {
            color: #fff;
        }

        .count {
            color: $semiLightGreyColor;
        }
    }
}

.innerWrap {
    padding: 15px 20px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid $greyColor02;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.count {
    font-weight: 400;
}
