@import "variables.scss";

.wrap {
    width: $centerAreaWidth;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid $greyColor02;
}

.innerWrap {
    padding: 15px 20px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid $greyColor02;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.count{
    font-weight: 400;
}