@import "variables.scss";

.field{
    font-size: 15px;
}

.button {
    display: block;
    margin: 10px 0px 0px auto;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $lightBlueColor;
    color: #fff;

    &:hover {
        background-color: rgba($color: $lightBlueColor, $alpha: 0.8);
    }
}
