@import "variables.scss";

.wrap {
    position: relative;
    padding: 10px 20px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 15px;
    border-bottom: 1px solid $greyColor01;

    &:hover {
        background-color: $lightGreyColor08;
        border: 1px solid $greyColor01;
        border-top: none;
        padding: 10px 19px;
    }

    &:first-child:hover {
        padding-top: 9px;
        border-top: 1px solid $greyColor01;
    }

    &_newMessage {
        background-color: $lightBlueColor01;

        &:first-child {
            padding-top: 9px;
            border-top: 1px solid $greyColor01;
        }
    }
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content {
}

.name {
    color: $mainFontColor;
    font-size: 15px;
    display: block;
    font-weight: 600;
    padding: 2px 0px 5px 0px;
}

.newMessageNotification {
    text-align: center;
    line-height: 21px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    color: #fff;
    background-color: $lightBlueColor07;
}
