@import "variables.scss";

.wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: $greyColor, $alpha: 0.7);
        z-index: 10;
    }
}

.wrapInner {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 30px;
    position: relative;
    width: 70%;
    max-width: $centerAreaWidth;
    z-index: 102;
}

.closeButtonWrap {
    position: absolute;
    top: 5px;
    right: 5px;
}

.closeButton {
    width: 26px;
    height: 26px;
    padding: 3px;
    cursor: pointer;
    fill: $greyColor;
}
