@import "variables.scss";

.wrap{
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.form {
    border: 1px solid rgba($color: $greyColor, $alpha: 0.2);
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    padding: 12px 18px;
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-gap: 10px;
    align-items: flex-end;
}

.button {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $lightBlueColor;
    color: #fff;

    width: 80px;
    height: 40px;

    &:hover {
        background-color: rgba($color: $lightBlueColor, $alpha: 0.8);
    }
}
