@import "variables.scss";

.wrap {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    &_dark {
        .text {
            color: $lightGreyColor;
        }

        .edit_mode_block {
            background-color: $darkContainerBGColor;
            border: 1px solid $greyColor035;
            box-shadow: 0px 3px 10px 0px rgba($color: $mainFontColor, $alpha: 0.1);
        }
    }

    & > img {
        max-height: 25px;
        margin-left: 10px;
    }
}

.text {
    display: block;
    width: 100%;
    word-wrap: break-word;
    border-radius: 3px;
    padding: 3px 7px;
    margin: -3px 0px;

    &_editable:hover {
        // margin: -3px -7px;
        // padding: 3px 7px;
        background-color: $greyColor01;
        cursor: pointer;
    }
}

.edit_mode_block {
    padding: 15px;
    background-color: #fff;
    border: 1px solid rgba($color: $mainFontColor, $alpha: 0.05);
    box-shadow: 0px 3px 10px 0px rgba($color: $mainFontColor, $alpha: 0.1);
    width: 100%;
    position: absolute;
    top: -5px;
    z-index: 10;
}

// .input {
//     display: block;
//     width: 100%;
//     padding: 3px 8px;
//     border-radius: 3px;
//     border: 1px solid rgba($color: $mainFontColor, $alpha: 0.1);
//     font-size: 15px;
// }

.save_button {
    display: block;
    margin: 8px 0px 0px auto;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: $lightBlueColor;
    color: #fff;
}
