@import "variables.scss";

.wrap {
    width: $centerAreaWidth;
    border: 1px solid $greyColor02;
    border-top: none;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: $semiLightGreyColor, $alpha: 0.5);
    }

    &_dark {
        border: 1px solid $greyColor;
        border-top: none;
    }
}
