@import "variables.scss";

.sidebar {
    margin-top: calc(#{$blocksMargin} + #{$headerHeight});

    &_dark {
        .item {
        }

        .link {
            color: rgba($color: $semiSemiLightGreyColor, $alpha: 0.8);

            &_active {
                color: #fff;

                .icon {
                    fill: $azureColor;
                }
            }
        }

        .icon {
            fill: $azureColor;
        }
    }
}

.list {
}

.item {
    padding: 6px 0px 6px 5px;
    border-radius: 3px;

    &:hover {
        background-color: $greyColor01;
    }
}

.linkWrap {
    display: flex;
}

.link {
    line-height: 150%;

    &_active {
        color: $darkBlueColor;
        cursor: default;

        & .icon {
            fill: $darkBlueColor;
        }
    }

    &_inactive {
        color: $mainFontColor;
    }
}

.icon {
    height: 20px;
    margin-right: 7px;
    fill: $greyColor;
}
