@import "variables.scss";

.wrap {
    padding: $blocksMargin;
}

.top {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: $mainFontColor, $alpha: 0.1);
}

.name {
    padding-left: 7px;
    font-size: 22px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 2px;
}

.headerWrap {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.header {
    font-weight: 600;
    padding: 10px 7px;
}

.headerLine {
    display: block;
    height: 1px;
    border-bottom: 1px solid rgba($color: $mainFontColor, $alpha: 0.1);
    margin-left: 10px;
}

.row {
    padding: 5px 7px 0px 7px;
}

.label {
    width: 165px;
    display: inline-block;
}

.text_labeled {
}

.link_labeled {
    color: $darkBlueColor;
}

.personal_info {
    padding: 0px 7px;
}
