@import "variables.scss";

.wrap {
    padding: $blocksMargin;
}

.top {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: $mainFontColor, $alpha: 0.1);
}

.name {
    padding-left: 7px;
    font-size: 22px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 2px;
}

.header {
    font-weight: 600;
    padding: 10px 7px;
    position: relative;

    &::after {
        content: " ";
        display: block;
        height: 1px;
        width: calc(100% - 100px);
        border-bottom: 1px solid rgba($color: $mainFontColor, $alpha: 0.1);
        position: absolute;
        right: 0;
        top: 50%;
    }
}

.row {
    padding: 5px 7px 0px 7px;
}

.label {
    width: 165px;
    display: inline-block;
}

.text_labeled {
    
}

.personal_info {
    padding: 0px 7px;
}
