@import "variables.scss";

.wrap_dark {
    .checkboxWrap span {
        color: $lightGreyColor08 !important;
    }
}

.button {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $lightBlueColor;
    color: #fff;

    width: 100%;

    &:hover {
        background-color: rgba($color: $lightBlueColor, $alpha: 0.8);
    }
}

.inputWrap {
    position: relative;
    margin-bottom: 10px;
}

.checkboxWrap {
    margin-bottom: 10px;
}

.errorWrapAbsolute {
    position: absolute;
    top: 8px;
    right: 10px;
}

.generalError {
    text-align: center;
    background-color: #d62525;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}
